.transport ion-card-title {
    font-family: Amasis MT Pro;
    font-size: 24px;
}
.transport ion-button {
    color: rgb(57, 56, 56);
    float: right;
    font-size: 20px;
}
.transport ion-card-content {
    font-size: 16px;
    color: rgb(239, 233, 233);
}
  
.transport {
    background-color: rgb(43, 212, 46);
}